*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f2f2f2;
      
}

.container{
    width: 900px;
    height: 650px;
    margin: 40px auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);

    background-image: url('images/cafeimage.png');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: 70%;
      background-position: center;
}
.left{
    width:50%;
     background: transparent;
}
.right{
    width: 50%;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 40px;
}

.right h2{
    font-size: 30px;
    margin-bottom: 20px;
}

label{
    font-size: 15px;
    display: block;
    margin-top: 20px;
}

input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    outline: none;
    background: rgba(255,255,255,0.7);
}

.forget{
    float: right;
    margin-top: -20px;
    font-size: 14px;
    color: #ddd;
}

.signup-btn{
    width: 100%;
    padding: 14px;
    background: #66c029;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.Terms{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}








