body {
    font-family: Arial, sans-serif;
    background-color:#2d0000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: #e3cfcf;
    padding-top: 20px;
}
.sidebar h3 {
    padding-left: 20px;
    margin-bottom: 20px;
}
.sidebar a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.sidebar a:hover {
    background: #d5bcbc;
    border-radius: 10px;
}
.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.food-list {
    margin-bottom: 20px;
}

.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item input {
    width: 50px;
    padding: 5px;
}

.total {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
